body{
    scroll-behavior: smooth;
}


.bgimg{
    background-image: url(src/bglogin.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 120vh;
}

a{
    text-decoration: none;
}

.col-md-3  button:hover{
    background-color: #1a6eed87;
    transition: all 0.2s ease-in-out;
}

.logo{
    width: 80px;
    height: auto;
}
.logbutton{
    width: 110px;
    height: 40px;
    border-radius: 39px;
    background: linear-gradient(98deg, rgba(179, 210, 96, 0.26) 0.33%, #81A356 93.35%);
    box-shadow: 0px 10px 15px 0px rgba(90, 132, 22, 0.17);
    border-style: none;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:550;    
}

.ikon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 54.815px;
}

.hp{
    height: 80vh;
    width:auto;
    padding: 4% 10% 10%;
}

.hp .hpText{
    margin: 30px 20px;
    
}

.hp2Text{
    margin: 80px 20px;
    width:94%;
}

.edu-desc p:nth-child(1){
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 0px;
    margin-bottom: 35px;
}

.box-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.box-0, .box-1, .box-2, .box-3, .box-4{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.047);
    width: 200px;
    height: 90px;
    flex-shrink: 0;
    background-color:rgba(179, 210, 96, 0.26);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    justify-content:start;
    align-items:center;
    display: flex;
    flex-direction: row;
    margin: 0px 13px;
}

.box-0:hover, .box-1:hover, .box-2:hover, .box-3:hover, .box-4:hover{
    background-color:rgba(149, 174, 81, 0.401);
    
}

.box-0 span,.box-1 span, .box-2 span, .box-3 span, .box-4 span{
    width: 60px;
    height: 60px;
    margin-left: 18px;
    background-color: #81A356;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box-0 p, .box-1 p, .box-2 p, .box-3 p, .box-4 p{
    font-size: 16px;
    text-align: left;
    color: #527c88e4;
    font-weight:700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-top: 10px;
}

.artic{
    height: 85vh;
}

.art-desc{
    
    display: flex;
    justify-content: space-between;
    padding: 3% 12% 2%;
    
}

.custom-carousel-inner {
    height: 560px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  
  .carousel-card {
    flex: 0 0 50%; /* Show two items at a time (adjust as needed) */
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    position: relative; /* Add relative positioning to each card */
  }
  
  .carousel-caption {
    position: absolute;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    bottom: -30px;
    left: 0;
    right: 0;
    background-color: #FCFFF2;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: black; /* Text color for the caption */
  }
  
  .homebutton{
    border: none;
    padding: 1% 20px 35px;
    width: auto;
    height: 38px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background-color: #B4D260;
    border-radius: 30px;
  }

  .homebutton:hover{
    background-color: #a3be58;
  }
  
  .search{
    width: 100%;
    min-height: 8vh;
    display: flex;
}

.search-bar{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    border-radius: 60px;
    border: none;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: none;
    border-radius: 60px;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #2e2e2e;

}
::placeholder{
    color: #cac7ff;
}

.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #a3be58;
    cursor: pointer;
}
.about{
        height: 60vb;
        margin-top: 2cm;
        
}
.about p:nth-child(1)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.about p:nth-child(2)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
.about p:nth-child(4)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 3cm;
    margin-right: 3cm;
}
  footer {
    border-top: 2px solid #00000018;
    background-color: #82a3560c;
    padding-top: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    margin-top: 0px;
}

.footer-col {
    width: 25%;
    padding: 0 50px;
}

.footer-col h4 {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
    position: relative;
}



.footer-col ul li a {
    margin-left: -30px;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color: #3f3f3f;
    text-decoration: none;
    font-weight: 500;
    color: #3f3f3f;
    transition: all 0.3s ease;
    margin-bottom: 0px;
}

.footer-col ul li {
    list-style: none;
}

.footer-col ul li a:hover {
    color: #020202;
    padding-left: 8px;
}

footer p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #3f3f3f;
    margin-bottom: 0px;
    margin-left: 25px;
}
.social-icons
{
    
    display: flex;
    
}
.social-icons a
{
    width: 25px;
    height: 25px;
    display: flex;
    margin: 25px;
    border-radius: 50%;
}

.social-icons i
{
    font-size: 35px;
    color: #424141;
}

.social-icons a:hover
{
    background-color: #c5c5c5;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

li a .HeaderBut{
    align-self: center;
    margin: 0px 8px 0px;
    width: auto;
    height: auto;
    padding: 3px 10px 3px;
    font-size: 14px;
    border-radius: 39px;
    background-color: #F3FED6;
    color: #353535b0;
    border: 2px solid #b7b7b76e;
    box-shadow: 0px 1px 50px 1px rgba(90, 132, 22, 0.2);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;    
}

header button:hover{
    background-color: #cdd5b8ad;
}

li > i:hover{
    cursor: pointer;
}

        
.dokter-desc{
    padding: 0 5% 0;
        
}
.dokter-desc p:nth-child(1)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0px;
}
.dokter-desc p:nth-child(2)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:gray;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.container > .lisdokter{
    padding: 5px 15px 0;
    width: 529px;
    height: 155px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F9EB;
    display: flex;
}

.lisdokter img{
    width: 90px;
    align-self:center;
    margin: 10px;
    
}

.lisdokter:hover{
    background-color: #e3f0c6;
    transition: all 0.2s ease-in-out;
}

.lisdokter i{
    background-color: #B4D2608F;
    padding: 0 20px 0;
    margin-right: 20px;
    font-style: normal;
}

.lisdokter a{
    border-radius: 20px;
    background-color: #B4D260;
    text-decoration: none;
    color: black;
    text-align:end ;
    padding: 2px 20px 5px;
}

.lisdokter a:hover{
    background-color: #fff;
}

.tutor{
    background-color: #F5F9EB;
    height: 50vh;
    padding: 0 5% 0;       
}

.petshop{
    background-color: #F2FFE24D;
    height: 105vh;
    padding: 40px 0 0;
}

.petshop p:nth-child(1)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.artikel{
    background-color: #F2FFE24D;
    height: 100vh;
    padding: 40px 0 700px;
}

.container img{
    display: flex;
    align-self: center;
}

.artikel .container p{
    font-size: 20px;
    color: #4e4e4e;
}

.isiArtikel{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 60px 0;
}
.auth{
    
    display:flex;
    justify-content: space-between;
    padding: 10px 40px 10px;
}

.container p{
    font-size: 14px;
}