body{
    scroll-behavior: smooth;
}


.bgimg{
    background-image: url(src/bglogin.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 120vh;
}

a{
    text-decoration: none;
}

.col-md-3  button:hover{
    background-color: #1a6eed87;
    transition: all 0.2s ease-in-out;
}

.logo{
    width: 80px;
    height: auto;
}
.logbutton{
    width: 110px;
    height: 40px;
    border-radius: 39px;
    background: linear-gradient(98deg, rgba(179, 210, 96, 0.26) 0.33%, #81A356 93.35%);
    box-shadow: 0px 10px 15px 0px rgba(90, 132, 22, 0.17);
    border-style: none;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:550;    
}

.ikon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 54.815px;
}

.hp{
    height: 80vh;
    width:auto;
    padding: 4% 10% 10%;
}

.hp .hpText{
    margin: 30px 20px;
    
}

.hp2Text{
    margin: 80px 20px;
    width:94%;
}

.edu-desc p:nth-child(1){
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 0px;
    margin-bottom: 35px;
}

.box-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.box-0, .box-1, .box-2, .box-3, .box-4{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.047);
    width: 200px;
    height: 90px;
    flex-shrink: 0;
    background-color:rgba(179, 210, 96, 0.26);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    justify-content:start;
    align-items:center;
    display: flex;
    flex-direction: row;
    margin: 0px 13px;
}

.box-0:hover, .box-1:hover, .box-2:hover, .box-3:hover, .box-4:hover{
    background-color:rgba(149, 174, 81, 0.401);
    
}

.box-0 span,.box-1 span, .box-2 span, .box-3 span, .box-4 span{
    width: 60px;
    height: 60px;
    margin-left: 18px;
    background-color: #81A356;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box-0 p, .box-1 p, .box-2 p, .box-3 p, .box-4 p{
    font-size: 16px;
    text-align: left;
    color: #527c88e4;
    font-weight:700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-top: 10px;
}

.artic{
    height: 85vh;
}

.art-desc{
    
    display: flex;
    justify-content: space-between;
    padding: 3% 12% 2%;
    
}

.custom-carousel-inner {
    height: 560px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  
  .carousel-card {
    flex: 0 0 50%; /* Show two items at a time (adjust as needed) */
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    position: relative; /* Add relative positioning to each card */
  }
  
  .carousel-caption {
    position: absolute;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    bottom: -30px;
    left: 0;
    right: 0;
    background-color: #FCFFF2;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: black; /* Text color for the caption */
  }
  
  .homebutton{
    border: none;
    padding: 1% 20px 35px;
    width: auto;
    height: 38px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background-color: #B4D260;
    border-radius: 30px;
  }

  .homebutton:hover{
    background-color: #a3be58;
  }
  
  .search{
    width: 100%;
    min-height: 8vh;
    display: flex;
}

.search-bar{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    border-radius: 60px;
    border: none;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: none;
    border-radius: 60px;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #2e2e2e;

}
::placeholder{
    color: #cac7ff;
}

.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #a3be58;
    cursor: pointer;
}
.about{
        height: 60vb;
        margin-top: 2cm;
        
}
.about p:nth-child(1)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.about p:nth-child(2)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
.about p:nth-child(4)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 3cm;
    margin-right: 3cm;
}
  footer {
    border-top: 2px solid #00000018;
    background-color: #82a3560c;
    padding-top: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    margin-top: 0px;
}

.footer-col {
    width: 25%;
    padding: 0 50px;
}

.footer-col h4 {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
    position: relative;
}



.footer-col ul li a {
    margin-left: -30px;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color: #3f3f3f;
    text-decoration: none;
    font-weight: 500;
    color: #3f3f3f;
    transition: all 0.3s ease;
    margin-bottom: 0px;
}

.footer-col ul li {
    list-style: none;
}

.footer-col ul li a:hover {
    color: #020202;
    padding-left: 8px;
}

footer p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #3f3f3f;
    margin-bottom: 0px;
    margin-left: 25px;
}
.social-icons
{
    
    display: flex;
    
}
.social-icons a
{
    width: 25px;
    height: 25px;
    display: flex;
    margin: 25px;
    border-radius: 50%;
}

.social-icons i
{
    font-size: 35px;
    color: #424141;
}

.social-icons a:hover
{
    background-color: #c5c5c5;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

li a .HeaderBut{
    align-self: center;
    margin: 0px 8px 0px;
    width: auto;
    height: auto;
    padding: 3px 10px 3px;
    font-size: 14px;
    border-radius: 39px;
    background-color: #F3FED6;
    color: #353535b0;
    border: 2px solid #b7b7b76e;
    box-shadow: 0px 1px 50px 1px rgba(90, 132, 22, 0.2);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;    
}

header button:hover{
    background-color: #cdd5b8ad;
}

li > i:hover{
    cursor: pointer;
}

        
.dokter-desc{
    padding: 0 5% 0;
        
}
.dokter-desc p:nth-child(1)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0px;
}
.dokter-desc p:nth-child(2)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:gray;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.container > .lisdokter{
    padding: 5px 15px 0;
    width: 529px;
    height: 155px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F9EB;
    display: flex;
}

.lisdokter img{
    width: 90px;
    align-self:center;
    margin: 10px;
    
}

.lisdokter:hover{
    background-color: #e3f0c6;
    transition: all 0.2s ease-in-out;
}

.lisdokter i{
    background-color: #B4D2608F;
    padding: 0 20px 0;
    margin-right: 20px;
    font-style: normal;
}

.lisdokter a{
    border-radius: 20px;
    background-color: #B4D260;
    text-decoration: none;
    color: black;
    text-align:end ;
    padding: 2px 20px 5px;
}

.lisdokter a:hover{
    background-color: #fff;
}

.tutor{
    background-color: #F5F9EB;
    height: 50vh;
    padding: 0 5% 0;       
}

.petshop{
    background-color: #F2FFE24D;
    height: 105vh;
    padding: 40px 0 0;
}

.petshop p:nth-child(1)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.artikel{
    background-color: #F2FFE24D;
    height: max-content;
    padding: 40px 0 50px;
}

.artikel .container img{
    display: flex;
    align-self: center;
}

.artikel .container p{
    font-size: 20px;
    color: #4e4e4e;
}

.isiArtikel{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 60px 0;
    text-align: justify;
}
.auth{
    
    display:flex;
    justify-content: space-between;
    padding: 10px 40px 10px;
}

.container p{
    font-size: 14px;
}

.vaksin{
    background-color: #F2FFE24D;
    height: max-content;
    padding: 40px 0 10px;
    margin-bottom: 30px;
}

.vaksin label{
    font-size: 18px;
    font-weight: 700;
}

.vaksin input, .vaksin select{
    margin-bottom: 5px;
    padding-left: 20px;
}

.vaksingo{
    margin-top: -20px;
    border-radius: 30px;
    padding: 4px;
    text-align: center;
    background: #E1EDBF;
    display: flex;
    justify-content: center;
    width: max-content;
    align-items: center;
}

.vaksingo:hover{
    cursor: pointer;   
}

.kontakus{
    background: #F2FFE24D;
    height: 100vh;
}

.contact{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    gap: 10px;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 30px 0px rgba(90, 132, 22, 0.15);
}

.contactinf{
    padding: 40px;
    background:#5A8416B2;
    border-radius: 10px;
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

.contactinf div{
    height: 30%;
}

.contactinf-1 p:nth-child(1){
    
    font-size: 25px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;line-height: 0px;
    margin-bottom: 35px;
}

.contactinf-1 p:nth-child(2){
    color: #C9C9C9;
    font-size: 18px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 0px;
    margin-bottom: 35px;
}

.contactinf-2{
    display: flex;
    gap: 20px;
}

.contactinf-2 p{
    color: #fff;
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 35px;
    font-weight: 400;
}

.contactinp{
    width: 60%;
    height: 600px;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
}

.contactinp div{
    
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactinp label{
    font-size: 13px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contactinp input{
    border: none;
    border-bottom: 2px solid black;
    height: 80%;
    margin-bottom: -100%;
}

.contactinp textarea:focus, input:focus{
    outline: none;
}

.contactinp .feedback{
    width: 100%;
    height: 50%;
}

.feedback textarea{
    border: none;
    border-bottom: 2px solid black;
    
}

.contactinp .feedbutton{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    padding: 0;
    margin-top: -30px;
}

.kirimbutton{
    border: none;
    padding: 1% 20px 35px;
    width: 90px;
    height: 35px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background-color: #B4D260;
    border-radius: 30px;
  }

.contact-icon {
    display: flex;
    flex-direction: row;
    font-size: 27px;
    gap: 30px;
} 

.contact-icon I{
    color: #fff;
} 

.groom .container div{
    
    width: 50%;
}

.groom img{
    width: 110%;
}

.groom p:nth-child(1)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.groom p:nth-child(2)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 17px;
    margin-bottom: 10px;
}

.groomingform{
    height: 90vh;
}

.groomingform .formdesc{
    margin: 0px 0px 10px;
    height: 20%;
    width: 100%;
    padding: 10px 30px 0;
    background:#b4d165;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formdesc p{
    color: #fff;
    font-size: 20px;
}

.groomingform .formisi{
    height: 60%;
}

.groomingform .formbutton{
    height: 20%;
}

.formisi div{
    width: 50%;
    padding: 30px;
}

.formisi label{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.formisi input, .vaksin select{
    margin-bottom: 5px;
    padding-left: 20px;
}

.formbutton{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}
.formbutton button{
    border: none;
    padding: 0 20px 5px;
    width: 120px;
    height: 38px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 30px;
  }

.formbutton .batal{
    border: 1px solid #000;
    background: none;
    color: black;
}

.formbutton .batal:hover{
    transition: all 0.2s ease-in-out;
    background: #00000034;
}

.formbutton .kirim{
    background: #B4D260;
}

.formbutton .kirim:hover{
    transition: all 0.2s ease-in-out;
    background: #9db657;
}

.chatt {
	height: 100%;
	margin-left: 3cm;
	margin-right: 3cm;
}

.chat {
	margin-top: auto;
	margin-bottom: auto;
}

.input-group-append:hover{
    background: #717171;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.attach_btn {
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
	cursor: pointer;
}

.send_btn {
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
	cursor: pointer;
}

.user_img {
	height: 60px;
	width: 60px;
	border: 1.5px solid #f5f6fa;
}

.user_img_msg {
	height: 40px;
	width: 40px;
	border: 1.5px solid #f5f6fa;
}

.user_info {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}

.user_info span {
	font-size: 20px;
	color: rgb(0, 0, 0);
}

.msg_cotainer {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #b5c97e;
	padding: 10px;
	position: relative;
}

.msg_cotainer:hover{
    background-color: #9ab845;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.msg_cotainer_send {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
    background-color: #dfdfdf;
	padding: 10px;
	position: relative;
}

.msg_cotainer_send:hover{
    background-color: #b9b9b9;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.msg_time {
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 10px;
}

.msg_time_send {
	position: absolute;
	right: 0;
	bottom: -15px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 10px;
}

.msg_head {
	position: relative;
}

#action_menu_btn {
	position: absolute;
	right: 20px;
	top: 30px;
	color: rgb(0, 0, 0);
	cursor: pointer;
	font-size: 20px;
}

.action_menu {
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}

.action_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.action_menu ul li {
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}

.action_menu ul li i {
	padding-right: 10px;
}

.action_menu ul li:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
}

.chatdokter .container{
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.175);
    padding: 10px 35px 10px;
    background: #eeeeee;
    margin-bottom: 20px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.11);"
}

.judul{
    background: rgba(179, 210, 96, 0.40);
    flex-shrink: 0;
    padding: 20px 0 10px;
    margin-bottom: 35px;
}

.judul p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(90, 132, 22, 0.85);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
}   

.janji{
    height: max-content;
    margin-bottom: 30px;
}


.filter{
    width: 40%;
    height: max-content;
    border-radius: 20px;
    background: #F5F9EB;
}

.fil1{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 35px;
    padding: 25px 25px 15px;
}

.fil11{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.fil11 p:nth-child(1)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
}

.fil11 p:nth-child(2)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6e6e6e;
    font-size: 18px;
    margin-bottom: 0px;
}

.fil2{
    padding: 25px 25px 15px;
}

.fil2 input,label{
    zoom: 140%;
}

.fil2 label{
    font-size: 10px;
    font-weight: 500;
}

.filharga{
    display: flex;
    justify-content: space-between;
}

.filharga p{
    background: rgba(179, 210, 96, 0.40);
    width: 40%;
    text-align: center;
    color: #000;
    font-weight: 500;
    padding: 5px 0px 5px;
}

.result{
    width: 60%;
    height: 500px;
    align-self: center;
    border-radius: 20px;
    background: #F5F9EB;
}

.result select{
    background: rgba(179, 210, 96, 0.40);
    border: none;
    padding: 5px 10px 5px;
    font-weight: 500;
}

.result .res11 i{
    color: #198754;
    font-size: 25px;
}

.res2{
    height: 70%;
}

.res22 p{
    margin: -5px 0 0px;
    color: #000;
    font-weight: 550;
}

.res3 h5{
    background: #B4D260;
    width: 30px;
    height: 30px;
    text-align: center;
}

.res3 h5:hover, img:hover{
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.custom-range::-webkit-slider-thumb {
    background-color: #198754;
  }
  
  .custom-range::-moz-range-thumb {
    background-color: #198754;
  }
  
  .custom-range::-ms-thumb {
    background-color: #198754;
  }
  